@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.emc-grouptitle {
	font-weight: normal;
	opacity: 0.4;
	text-align: center !important;
	margin: 2px;
	/* not working
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=101800
	 *
	 * text-transform: uppercase !important;
	*/
	background: none !important;
	background-image: none !important;
	border: none !important;
}

.emc-toolbarMenuIcon {
	list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
}

/* http://mxr.mozilla.org/mozilla-central/source/browser/themes/linux/browser.css#1890 */

.emc-popupmenu .emc-pinned {
	position: absolute;
	box-shadow: inset -5px 0 ThreeDShadow;
}

/*
*/
