@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.emc-grouptitle {
	font-weight: normal;
	opacity: 0.4;
	text-align: center !important;
	margin: 2px;
	/* not working
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=101800
	 *
	 * text-transform: uppercase !important;
	*/
	background: none !important;
	background-image: none !important;
	border: none !important;
}

/* http://mxr.mozilla.org/mozilla-central/source/browser/themes/linux/browser.css#1890 */

.emc-popupmenu .alltabs-item[tabIsVisible].unified-nav-current:hover,
.emc-popupmenu .alltabs-item[tabIsVisible] {
	/* box-shadow instead of background-color to work around native styling */
	/* box-shadow: inset -7px 0 rgba(0,100,250,0.5) !important; */
	box-shadow: inset -7px 0 ThreeDShadow !important;
}

/*
.emc-popupmenu .alltabs-item[tabIsVisible].unified-nav-current {
	box-shadow: inset -7px 0 rgba(0,100,250,0.5),
				inset 2px 200px 0 rgba(141, 246, 141, 0.3) !important;
}

.emc-popupmenu .unified-nav-current {
	box-shadow: inset 2px 200px 0 rgba(141, 246, 141, 0.3) !important;
}

.emc-popupmenu .unified-nav-current:hover {
	box-shadow: none !important;
}

*/
